<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
    <h1>Дин Винчестер</h1>
    <img src="avatar.jpg" width="300" height="200">
    <br>
    <a>https://en.wikipedia.org/wiki/Dean_Winchester</a>
    <p>Всем привет, я Дин Винчестер, а это моя страничка!</p>
    <p>Здесь я буду публиковать всех пойманных и убитых мной:</p>
    <p>зомби, приведений, духов, вампиров и другой нечести <del>(надеюсь они не вычислят меня по айпи :D)</del></p>
    <p>Буду рассказывать какой лучше кол выбрать для убийства вампиров,</p>
    <p>какая соль эффективней морская или <strong>поваренная</strong> для защиты от призраков.</p>
    <p>Ну и конечно же будем разводить холивары о самом вкусном пиве и <mark>ПИРОГАХ!!!</mark></p>



    </body>
</html>